<h1>Coollage Gallery</h1>

<table>
  <% @collages.each_slice(3) do |slice| %>
    <tr>
      <% slice.each do |collage| %>
          <td>
            <%= image_tag("/images/collage_#{collage.id}.png", size: "200x200") %><br />
            <%= collage.title %><br />
            <%= collage.author_name%>
          </td>
      <% end -%>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Create New Collage', root_path, class: "win_button" %>
