<h1><%= @collage.title %> by <%= @collage.author_name%></h1>

<%= link_to 'Back to Coollage Gallery', collages_path , class: "win_button" %><br /><br />

<div class="clear"></div>
<div>
  <%= image_tag("/images/collage_#{@collage.id}.png") %>
</div>


