// Place all the styles related to the Collages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#image_uploader {

}

.win_image {
  position: absolute;
  display:none;
  margin-left: 20%;
  z-index: 999;
  background: white;
  border: 10px solid #f0a37d;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  -moz-border-radius: 15px;
  border-radius: 15px;
  min-height: 450px;
  max-height: 450px;
  min-width: 800px;
  max-width: 800px;
  overflow: auto;
  opacity:0.9;
  filter:alpha(opacity=90); /* For IE8 and earlier */
}

.win_header{
  min-width: 800px;
  background: #f0a37d;
  padding: 0px 0px 5px 0px;
  color: white;
  position: fixed;
  .win_close {
    position: absolute;
    right: 8px;
    cursor: pointer;
  }
}

.win_footer{
  position: fixed;
  margin-top: 400px;
  padding: 15px 0px 5px 0px; 
  min-width: 800px;
  background: #f0a37d;
  .picker_button {
    margin-left: 300px;
  }
}



.win_button {
    
    -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
    box-shadow:inset 0px 1px 0px 0px #cf866c;
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
    background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
    
    background-color:#d0451b;
    
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    
    border:1px solid #942911;
    
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    font-weight:normal;
    padding:6px 24px;
    text-decoration:none;
    
    text-shadow:0px 1px 0px #854629;
    cursor: pointer;

}
.win_button:hover {
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
    background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
    
    background-color:#bc3315;
}
.win_button:active {
    position:relative;
    top:1px;
}



#image_picker {

}

#uploader {
  float: left;
  cursor: pointer;
}

#picker {
  cursor: pointer;
}