// Place all the styles related to the Collages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#progress{
  /*border: 1px solid black;*/
  padding: 5px;
  background: #f0a37d;
  
  img {
    margin-right: 10px;
  }

  .image_name {
    margin-right: 10px;
  }
}

#images_picker {
  margin-bottom: 10px;
  max-width: 800px;
  max-height: 450px;
  padding-left: 50px;
  padding-top: 50px;
  .image_picked{
   background: #f0a37d; 
  }
}

.image {
    float:left;
    margin: 10px;
    border: 1px solid black;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    .image_filename{
      text-align: center;

    }
  }

#images_uploader {
  margin-bottom: 10px;
  max-width: 800px;
  max-height: 450px;
  padding-left: 50px;
  padding-top: 50px;
  
}

.upload_message {
  margin-bottom: 10px;
  .remove_message {
    position: absolute;
    right:20px;
    vertical-align: top;
    cursor: pointer;
  }
}

#new_image {
  padding-top: 20px;
  margin: 10px;
}